<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Event Booking page - Welcome and choose an Event</title>
  <style type="text/css">
    body {
      width: 800px;
      margin: auto;
    }
  </style>
</head>
<body>
<header>
  <h1>Welcome to our Event Booking App</h1>
</header>
<main>
  <div>
    <form th:action="@{/}" th:method="POST">
      <input type="text" name="keyword" placeholder="Search by name">
      <input type="number" name="rating" placeholder="Set minimum rating">
      <input type="submit" value="Search">
    </form>

  </div>
  <form th:action="@{/eventBooking}" th:method="POST">
    <h2>Choose an event:</h2>

    <p th:each="event: ${events}">
      <span th:text="'Name: ' + ${event.name} + ', Description: ' + ${event.description} + ', Rating: ' + ${event.popularityScore}"></span>
      <input type="radio" name="eventBook" th:value="${event.name}">
    </p>

    <h2>Choose number of tickets:</h2>
    <input type="number" name="numTickets" min="1" max="10"><br/>
    <br/>
    <input type="submit" value="Submit">
  </form>

</main>
</body>
</html>